::selection {
  background-color: #fff;
  color: #aaa;
}

body{
  background-position: center;
  color: #ddd;
  margin: 0;
  background: no-repeat fixed center center / cover;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; */
}
body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0008;
  z-index: -1;
}

.hidden {
  transition: none;
  visibility: hidden;
  /* display: none; */
}
.none {
  display: none;
}

/* contents */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container > * {
  text-align: center;
  margin: 0;
  color: #fff;
}

#clock {
  font-size: 5em;
}

#greeting {
  margin-top: 10px;
  font-size: 2em;
}

/*************/
/* todo-form */
/*************/
#todo-form {
  margin-top: 30px;
  box-sizing: border-box;
}
#todo-form input[type=text] {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding-bottom: 10px;
}
#todo-form input[type=text]::placeholder {
  color: #fff;
}
#todo-form input[type=text]:focus::placeholder {
  visibility: hidden;
}

/*************/
/* todo-line */
/*************/
/* FIXME */
.ul-test {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-line {
  display: flex;
  text-align: center;
  align-items: center;
  /* margin-top: 15px; */
  /* padding: 10px 0; */
}
.todo-line:hover {
  background-color: #ddd8;
}

.todo-line input[type=checkbox] {display: none;}

.todo-line-label {
  display: flex;
  padding: 10px;
  flex: 9;
  cursor: pointer
}
.todo-line-label:nth-child(1){
  margin: 0;
}

.todo-check,
.todo-right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
}
.todo-check {
  padding: 0;
  /* border: 1px solid red; */
  
}
.fa-square-check {
  display: none;
}
.todo-comment {
  text-align: left;
  flex: 9;
  white-space: normal;
  word-break: break-all;
  padding: 0 3px;
  box-sizing: border-box;
}
.todo-trash-icon {
}
.todo-right-buttons > *{
  cursor: pointer;
  border: 1px solid red;
  margin-right: 10px;
  font-size: 1.2em;
}
/* .todo-line-label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: baseline;
  flex: 9;
  box-sizing: border-box;
  /* width: 90%; */
/* } */
/* .todo-comment {
  flex: 9;
  display: inline-block;
  box-sizing: border-box;
} */
/* .todo-trash-button {
  text-align: center;
  width: 10%;
  box-sizing: border-box;
  float: right;
} */
.fa-rectangle-xmark {
  top: 3px;
  right: 5px;
}
.fa-rectangle-xmark:hover {
  color: #fff;
}
.fa-rectangle-xmark:active {
  color: #ddd;
}
.todo-line input:checked ~ label .todo-check .fa-square{
  display: none;
}
.todo-line input:checked ~ label .todo-check .fa-square-check{
  display: inline;
}
.todo-line input:checked ~ label .todo-comment {
  text-decoration: line-through;
}

/*************/
/* todo-area */
/*************/
.todo-area {}
.todo-icons {
  /* border: 1px solid blue; */
  box-sizing: border-box;
  /* background-color: #ddd8; */
  width: fit-content;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.todo-area input[type=radio] {
  display: none;
}
.todo-icons label {
  display: inline-block;
  font-size: 1.5em;
  /* border: 1px solid red; */
  transition: 0.3s;
}
.todo-icons label:hover {
  background-color: #ddd3;
  color: #fff;
}
.todo-icons label i {
  font-size: 25px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}
.todo-icons label i::before{
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
}

.todo-contents {
  /* border: 1px solid black; */
  position: relative;
  width: 30%;
  height: 300px;
}
/******************/
/* todos & trashs */
/******************/
.todo-contents > * {
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: -100%;
  border-radius: 0 5px 5px 0;
  background-color: #ddd3;
  color: #fff;
  width: 100%;
  height: inherit;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
/* ::-webkit-scrollbar : 스크롤바 전체
::-webkit-scrollbar-thumb : 드래그 가능한 스크롤 핸들 막대
::-webkit-scrollbar-track : 스크롤바 트랙 (스크롤이 움직이는 영역 / 스크롤 진행률 표시줄)
::-webkit-scrollbar-button : 스크롤바의 방향 버튼 (= 위/아래 표시 화살표)
::-webkit-scrollbar-track-piece : 스크롤 진행률 표시줄에서 스크롤 핸들 막대 부분을 제외한 남은 빈 공간
::-webkit-scrollbar-corner : 수평/수직 스크롤 막대가 만나는 스크롤 막대의 하단 모서리
::-webkit-resizer : 요소의 하단 모서리에 나타나는 크기 조정 핸들 */
.todo-contents > *::-webkit-scrollbar {
  width: 5px;
}
.todo-contents > *::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}
.todo-contents > *::-webkit-scrollbar-track{
  background-color: #bbba;
}
.todo-area input[id=todo-radio]:checked ~ .todo-icons label[for=todo-radio],
.todo-area input[id=trash-radio]:checked ~ .todo-icons label[for=trash-radio] {
  background-color: #ddd3;
  color: #fff;
}
.todo-area input[id=todo-radio]:checked ~ .todo-contents .todos,
.todo-area input[id=trash-radio]:checked ~ .todo-contents .trashs {
  opacity: 1;
  visibility: visible;
  left: 0;
}

.nocontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**********/
/* Footer */
/**********/

/* 하단 기본 세팅 */
.bottom{
  position: absolute;
  width: 100%;
  text-align: center;
}

#weather {
  width: fit-content;
  bottom: 20px;
  margin-left: 10px;
}
#weather span:last-child{
  display: block;
}

#advice {
  bottom: 40px;
}
#advice span {
  font-size: 15px;
}

#copyright {
  font-size: 10px;
  bottom: 15px;
}


/********/
/* test */
/********/
ul{
  /* margin: 0;
  overflow-y: auto;
  padding: 0; */
  margin: 0;
}
li {
  /* white-space: pre-wrap; */
  /* word-break: break-all; */
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
}
