.article-contents textarea{
  width: 99%;
  height: 99%;
}

.article-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
  margin-top: 10px;
}

.article-buttons > * {
  margin: 0 50px;
}

#title{
  width: 98.5%;
  font-size: 20px;
}

.info{
  display: none;
}

.info #input-id{
  margin-right: 20px;
}